<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="nacl-jv.ZPM">
    <Module>
      <Name>nacl-jv</Name>
	  <Description>Use NativeAPI Extension from Java</Description> 
      <Version>0.0.5</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.MultiD.GBL"/>
    </Module>
  </Document>
</Export>
